@keyframes grow {
  0% {
    overflow: hidden;
    display: block;
    width: 0;
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    // width: 100%;
    opacity: 1;
  }
}

@keyframes shrink {
  0% {
    // display: block;
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    width: 0;
    display: none;
    opacity: 0;
  }
}

@keyframes slideCardToRight {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes slideCardFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

//generic classes
.slideToRight {
  animation-name: slideCardToRight;
  animation-duration: $menuTriggerAnimationDuration;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.slideFromRight {
  animation-name: slideCardFromRight;
  animation-duration: $menuTriggerAnimationDuration;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
