$default-border-radius: 5px;

//type variables
$steel-color:#9A9C9A;
$flying-color:#4196F4;
$water-color: #064FF6;
$ice-color:#6EC8C5;
$grass-color:#03BE23;
$bug-color:#C5D474;
$electric-color:#9E952E;
$rock-color:#7a5a44;
$earth-color:#dba261;
$fire-color: #FA3929;
$fighting-color: #ff7315;
$psychic-color: #F54F85;
$poison-color:#c00aab;
$dragon-color:#9834F7;
$phantom-color:#2A0864;
$sinister-color:#6F203A;
$normal-color: #dddddd;