@mixin pkmnChipColor($primary, $secondary, $contrast) {
  background: linear-gradient(to bottom, $primary, $secondary);
  color: $contrast;
  border: solid 1px white;
}

@mixin attackClassChip($type) {
  @if $type == status {
    background: radial-gradient($status-color, $status-comp-color);
    color: $status-contrast-color;
    border: solid 1px white;
  }

  @if $type == special {
    background: radial-gradient($special-color, $special-comp-color);
    color: $special-contrast-color;
    border: solid 1px white;
  }

  @if $type == physical {
    background: radial-gradient($physical-color, $physical-comp-color);
    color: $physical-contrast-color;
    border: solid 1px white;
  }
}

@mixin pkmnCardColor($primary, $secondary, $contrast) {
  .pkmnCard__side--back,
  .pkmnCard__side--front {
    background: linear-gradient(to bottom right, $primary 50%, $secondary);
    color: $contrast;
  }
}

@mixin itemBoxShadow($color) {
  @if $color == light {
    box-shadow: 0 0rem 0.5rem rgba($color-white, 0.5);
  }

  @if $color == dark {
    box-shadow: 0 0rem 0.5rem rgba($color-black, 0.5);
  }
}

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    //600px / 16 =37.5
    @media only screen and (max-width:37.5em) {
      @content;
    } //600px
  }

  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    } //900px
  }

  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    } //1200
  }

  @if $breakpoint == big-desktop {
    @media only screen and (min-width:112.5em) {
      @content;
    } //1800 +
  }
}
