@mixin pkmnChipColor($primary, $secondary) {
  background: linear-gradient(to bottom, $primary, $secondary);
}

@mixin pkmnCardColor($primary, $secondary) {
  .pkmnCard__side--back,
  .pkmnCard__side--front {
    background: linear-gradient(to bottom right, $primary 60%, $secondary);
  }
}

@mixin itemBoxShadow() {
  box-shadow: 0 0rem 0.5rem rgba($color-black, 0.5);
}
