//common variables
$default-border-radius: 5px;

//page variables
$section-separation: 1.5rem;

//pure colors
$color-black: #000;
$color-white: #fff;

$primary-color: red;
$secondary-color: salmon;
$surface-color: #202020;
$surface-darken: #000;
$surface-light: #535353;

//pokemon-type variables
$steel-color: #9a9c9a;
$steel-comp-color: #9a9c9a;

$flying-color: #4196f4;
$flying-comp-color: #4196f4;

$water-color: #064ff6;
$water-comp-color: #064ff6;

$ice-color: #6ec8c5;
$ice-comp-color: #6ec8c5;

$grass-color: #03be23;
$grass-comp-color: yellow;

$bug-color: #c5d474;
$bug-comp-color: #c5d474;

$electric-color: #9e952e;
$electric-comp-color: #9e952e;

$rock-color: #7a5a44;
$rock-comp-color: #7a5a44;

$earth-color: #dba261;
$earth-comp-color: #dba261;

$fire-color: #fa3929;
$fire-comp-color: rgb(115, 14, 197);

$fighting-color: #ff7315;
$fighting-comp-color: #ff7315;

$psychic-color: #f54f85;
$psychic-comp-color: #f54f85;

$poison-color: #c00aab;
$poison-comp-color: #c00aab;

$dragon-color: #9834f7;
$dragon-comp-color: #9834f7;

$phantom-color: #2a0864;
$phantom-comp-color: #2a0864;

$sinister-color: #6f203a;
$sinister-comp-color: #6f203a;

$normal-color: #dddddd;
$normal-comp-color: #dddddd;

$special-color: #0f0050;
$special-comp-color: #0f0050;

$status-color: #888888;
$status-comp-color: #888888;

$physical-color: rgb(255, 137, 3);
$physical-comp-color: rgb(255, 137, 3);

//animations
$menuTriggerAnimationDuration: 0.5s;
