$card-height: 55rem;
$card-width: 40rem;

.pkmnCard {
  position: relative;
  perspective: 150rem;
  -moz-perspective: 150rem;

  height: $card-height;
  width: $card-width;

  margin: auto;

  &__side {
    height: 100%;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: $primary-color;

    border-radius: $default-border-radius;
    border: solid 10px gold;
    box-shadow: 0 1rem 2rem rgba($color-white, 0.6);

    overflow: hidden;

    &--front {
      padding: 1.5rem 4.5rem;
    }

    &--back {
      transform: rotatey(180deg);
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  @include respond(tab-port) {
    &:hover &__side--front {
      transform: rotate(0);
    }

    &:hover &__side--back {
      transform: rotateY(180deg);
    }

    &--rotated &__side--front {
      transform: rotateY(-180deg) !important;
    }

    &--rotated &__side--back {
      transform: rotateY(0) !important;
    }
  }

  &__name-container {
    padding: 0.1rem;
    text-align: center;
    border: solid 5px gold;
    border-radius: $default-border-radius;
    background-color: #fff;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.6);
    margin-bottom: $section-separation;
  }

  &__name {
    // color: transparent;
    // font-size: 2rem;
    // background-image: linear-gradient(to right, $fire-color, $fire-comp-color);
    // background-clip: text;
    color: #000;
  }

  &__types {
    margin-bottom: $section-separation;
    > * {
      margin: 0 0.3rem;
    }
  }

  &__stats {
    margin-top: $section-separation;
    border: 3px solid gold;
    padding: 0.2rem 0.5rem;

    &__item {
      display: flex;
      justify-content: space-between;
      font-size: 1.6rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
      line-height: 2rem;
    }
  }

  &__image {
    backdrop-filter: blur(20px) brightness(1.3);
    animation-name: imageBackgroundAnim;
    animation-duration: 5s;
    animation-iteration-count: infinite;

    &-container {
      background: conic-gradient(
          from 180deg at 50% 50%,
          rgba(0, 0, 0, 1) 0deg,
          rgba(255, 255, 255, 0.7) 17deg,
          rgba(0, 0, 0, 1) 88deg,
          rgba(255, 255, 255, 0.7) 152deg,
          rgba(0, 0, 0, 1) 225deg,
          rgba(255, 255, 255, 0.7) 289deg,
          rgba(0, 0, 0, 1) 360deg
        ),
        conic-gradient(
          from 180deg at 50% 50%,
          rgba(0, 0, 0, 1) 0deg,
          rgba(255, 255, 255, 1) 30deg,
          rgba(0, 0, 0, 1) 96deg,
          rgba(255, 255, 255, 1) 169deg,
          rgba(0, 0, 0, 1) 229deg,
          rgba(255, 255, 255, 1) 285deg,
          rgba(0, 0, 0, 1) 360deg
        ),
        radial-gradient(
          88% 127% at 13% 13%,
          rgba(248, 110, 251, 1) 8%,
          rgba(115, 66, 255, 1) 35%,
          rgba(66, 232, 255, 1) 63%,
          rgba(66, 255, 107, 1) 100%
        );
      background-blend-mode: screen, difference, normal;
      border: solid 10px gold;
      height: 20rem;
      box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.6);
    }

    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__moves {
    height: $card-height;
    width: 100%;
    overflow: auto;
    padding: 1rem;
  }

  &__move {
    // background-color: #fff;
    background-color: $color-white;
    // @include itemBoxShadow(light);
    @include itemBoxShadow(dark);
    margin-bottom: 2rem;
    border-radius: $default-border-radius;
    color: #000;
    // color:#fff;
    padding: 1rem 2rem;

    &__header {
      // display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: solid 1px black;
      margin-bottom: 0.5rem;
      padding-bottom: 0.5rem;

      // .type-chip{
      //   outline: solid 1px #000;
      // }
    }

    &__name {
      border-radius: $default-border-radius;
      display: block;
      margin: auto;
      text-align: center;
      background-color: rgb(240, 240, 240);
      color: #000;
      padding: 0.5rem;
      @include itemBoxShadow(light);
      margin-bottom: 1rem;
    }

    &__data {
      font-size: 1.6rem;
      border-bottom: solid 1px black;
      margin-bottom: 0.5rem;
      padding-bottom: 0.5rem;

      display: flex;
      justify-content: space-between;
    }

    &__type {
      font-size: 1rem;
    }

    &__effect {
      font-size: 1.6rem;
    }
  }

  &__flip-trigger {
    display: none;

    @include respond(tab-port) {
      display: block;
      text-align: right;
      position: absolute;
      bottom: 1rem;
      right: 1rem;

      input {
        // display: none;
      }

      label {
        display: inline-block;
        width: 3rem;
        height: 3rem;
        background-color: red;
        border-radius: 100px;
      }

      input:checked ~ label {
        background-color: blue;
        // width: 20rem;
      }
    }
  }

  &__rotateBtn{
    display: none;

    @include respond(tab-port){
      display: block;
      bottom: 0; 
      position: absolute;
      right: 0;
      width: 3rem;
      height: 3rem;
      background-color: $surface-color;
      color:$secondary-color;

      //style
      outline: $color-white;
      border: none;
      border-radius: 100px;
      @include itemBoxShadow(dark);
    }
  }

  &--fire {
    @include pkmnCardColor($fire-color, $fire-comp-color, $fire-contrast-color);
    color: #fff;
  }

  &--grass {
    @include pkmnCardColor(
      $grass-color,
      $grass-comp-color,
      $grass-contrast-color
    );
  }

  &--steel {
    @include pkmnCardColor(
      $steel-color,
      $steel-comp-color,
      $steel-contrast-color
    );
  }

  &--flying {
    @include pkmnCardColor(
      $flying-color,
      $flying-comp-color,
      $flying-contrast-color
    );
  }

  &--water {
    @include pkmnCardColor(
      $water-color,
      $water-comp-color,
      $water-contrast-color
    );
  }

  &--ice {
    @include pkmnCardColor($ice-color, $ice-comp-color, $ice-contrast-color);
  }

  &--grass {
    @include pkmnCardColor(
      $grass-color,
      $grass-comp-color,
      $grass-contrast-color
    );
  }

  &--bug {
    @include pkmnCardColor($bug-color, $bug-comp-color, $bug-contrast-color);
  }

  &--electric {
    @include pkmnCardColor(
      $electric-color,
      $electric-comp-color,
      $electric-contrast-color
    );
  }

  &--rock {
    @include pkmnCardColor($rock-color, $rock-comp-color, $rock-contrast-color);
  }

  &--ground {
    @include pkmnCardColor(
      $ground-color,
      $ground-comp-color,
      $ground-contrast-color
    );
  }

  &--fighting {
    @include pkmnCardColor(
      $fighting-color,
      $fighting-comp-color,
      $fighting-contrast-color
    );
  }

  &--psychic {
    @include pkmnCardColor(
      $psychic-color,
      $psychic-comp-color,
      $psychic-contrast-color
    );
  }

  &--poison {
    @include pkmnCardColor(
      $poison-color,
      $poison-comp-color,
      $poison-contrast-color
    );
  }

  &--dragon {
    @include pkmnCardColor(
      $dragon-color,
      $dragon-comp-color,
      $dragon-contrast-color
    );
  }

  &--ghost {
    @include pkmnCardColor(
      $ghost-color,
      $ghost-comp-color,
      $ghost-contrast-color
    );
  }

  &--dark {
    @include pkmnCardColor($dark-color, $dark-comp-color, $dark-contrast-color);
  }

  &--normal {
    @include pkmnCardColor(
      $normal-color,
      $normal-comp-color,
      $normal-contrast-color
    );
  }
}

@keyframes imageBackgroundAnim {
  0% {
    backdrop-filter: blur(12px) brightness(0.8);
  }

  50% {
    backdrop-filter: blur(20px) brightness(1.3);
  }

  100% {
    backdrop-filter: blur(12px) brightness(0.8);
  }
}
