$side-menu-width: 9rem;

.sideMenu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  box-sizing: border-box;

  width: 50vw;
  height: 100vh;
  padding: 5rem 2.5rem 3rem 2.5rem;


  background-color: $color-white;

  border-top-right-radius: 20px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 1.2rem 2rem rgba($color-white, 0.6);

  display: flex;
  flex-direction: row;
  gap: 2rem;

  animation-name: grow-width;
  animation-duration: $menuTriggerAnimationDuration;
  transition: all 1s;

  @include respond(tab-port){
    border-bottom-left-radius: 0;
    border-bottom-right-radius:0;
    width: 100%;
    height: 50%;
    top:50%;
    animation-name:slide-from-bottom;
    animation-duration: $menuTriggerAnimationDuration;
    transition:all 1s,
  }

  &__toggle {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  &__trigger:hover &__trigger__icon::before{
    top:-1rem;
  }

  &__trigger:hover &__trigger__icon::after{
      top:1rem;
  }

  
  &__trigger{
    width: 4rem;
    height:4rem;

    padding: .8rem;
    border-radius:100px;

    //reset button
    outline: none;
    border:none;
    position: relative;
    cursor: pointer;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &__icon{
      position: relative;
      &,
      &::before,
      &::after{
          width: 3rem;
          height:2px;
          background-color: $color-black;
          display: inline-block;
          transition: all .2s;
      }

      &::before,
      &::after{
          content:"";
          width: 100%;
          position: absolute;
          left:0;
      }

      &::before{
          top:-.8rem;
      }

      &::after{
          top:.8rem;
      }
    }
  }

  &__sidebar {
    width: 9rem;
    height: 100%;

    border-radius: 10px;
    border: solid 1px black;

    padding: 1rem;

    overflow-x: hidden;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1rem;

    > * {
      width: 6rem;
      min-height: 6rem;

      cursor: pointer;
      border-radius: $default-border-radius;
      @include itemBoxShadow(dark);
      display: block;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__body {
    // height: 100%;
    width: 80%;
    border: solid 1px black;
    border-radius: 10px;
    overflow: hidden;
  }

  &--hidden {
    // height: fit-content;
    // width: fit-content
    animation-name: shrink-width;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    // transition: all 1s;
    padding: 5rem 0 3rem 0;

    @include respond(tab-port){
      padding: 0;
      animation-name: slide-to-bottom;
      animation-duration: 1s;
    }

    .sideMenu__sidebar,
    .sideMenu__body {
      display: none;
      width: 0;
    }
  }
}
