.type-chip {
  display: inline-block;
  padding: 0.2rem 1rem;
  border-radius: $default-border-radius;
  // box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.6);
  @include itemBoxShadow;
  min-width: 8rem;
  text-align: center;
  font-size: 1.6rem;

  &--steel {
    background-color: $steel-color;
  }

  &--flying {
    background-color: $flying-color;
  }

  &--water {
    background-color: $water-color;
  }
  &--ice {
    background-color: $ice-color;
  }

  &--grass {
    background: linear-gradient(to bottom, $grass-color, $grass-comp-color 95%);
    border: solid 1px $grass-comp-color;
  }

  &--bug {
    background-color: $bug-color;
  }

  &--electric {
    background-color: $electric-color;
  }

  &--rock {
    background-color: $rock-color;
  }

  &--earth {
    background-color: $earth-color;
  }

  &--fire {
    // background:linear-gradient(to bottom, $fire-color, $fire-comp-color 90% 100%);
    // border: solid 1px $fire-comp-color;
    @include pkmnChipColor($fire-color, $fire-comp-color);
    border: solid 1px white;
    color: #fff;
  }

  &--fighting {
    background-color: $fighting-color;
  }

  &--psychic {
    background-color: $psychic-color;
  }

  &--poison {
    background-color: $poison-color;
  }

  &--dragon {
    background-color: $dragon-color;
  }

  &--phantom {
    background-color: $phantom-color;
  }

  &--sinister {
    background-color: $sinister-color;
  }

  &--normal {
    background-color: $normal-color;
  }

  &--status {
    background-color: $status-color;
  }

  &--special {
    background-color: $special-color;
  }

  &--physical {
    background-color: $physical-color;
  }
}
