.type-chip {
  display: inline-block;
  padding: 0.2rem 1rem;
  border-radius: $default-border-radius;
  @include itemBoxShadow;
  min-width: 8rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;

  &--steel {
    @include pkmnChipColor(
      $steel-color,
      $steel-comp-color,
      $steel-contrast-color
    );
    // color:$color-black;
    border: solid 1px $color-white;
  }

  &--flying {
    @include pkmnChipColor(
      $flying-color,
      $flying-comp-color,
      $flying-contrast-color
    );
    // color:$color-black;
    border: solid 1px $color-white;
  }

  &--water {
    @include pkmnChipColor(
      $water-color,
      $water-comp-color,
      $water-contrast-color
    );
    border: solid 1px $color-white;
  }
  &--ice {
    @include pkmnChipColor($ice-color, $ice-comp-color, $ice-contrast-color);
    border: solid 1px $color-white;
  }

  &--grass {
    background: linear-gradient(to bottom, $grass-color, $grass-comp-color 95%);
    // @include pkmnChipColor($grass-color, $grass-comp-color, $grass-contrast-color);
    border: solid 1px $grass-comp-color;
  }

  &--bug {
    @include pkmnChipColor($bug-color, $bug-comp-color, $bug-contrast-color);
    border: solid 1px $color-white;
  }

  &--electric {
    @include pkmnChipColor(
      $electric-color,
      $electric-comp-color,
      $electric-contrast-color
    );
    border: solid 1px $color-white;
  }

  &--rock {
    @include pkmnChipColor($rock-color, $rock-comp-color, $rock-contrast-color);
    border: solid 1px $color-white;
  }

  &--ground {
    @include pkmnChipColor(
      $ground-color,
      $ground-comp-color,
      $ground-contrast-color
    );
    border: solid 1px $color-white;
  }

  &--fire {
    @include pkmnChipColor($fire-color, $fire-comp-color, $fire-contrast-color);
    border: solid 1px white;
    color: #fff;
  }

  &--fighting {
    @include pkmnChipColor(
      $fighting-color,
      $fighting-comp-color,
      $fighting-contrast-color
    );
    border: solid 1px white;
  }

  &--psychic {
    @include pkmnChipColor(
      $psychic-color,
      $psychic-comp-color,
      $psychic-contrast-color
    );
    border: solid 1px white;
  }

  &--poison {
    @include pkmnChipColor(
      $poison-color,
      $poison-comp-color,
      $poison-contrast-color
    );
    border: solid 1px white;
  }

  &--dragon {
    @include pkmnChipColor(
      $dragon-color,
      $dragon-comp-color,
      $dragon-contrast-color
    );
    border: solid 1px white;
  }

  &--ghost {
    @include pkmnChipColor(
      $ghost-color,
      $ghost-comp-color,
      $ghost-contrast-color
    );
    border: solid 1px white;
  }

  &--dark {
    @include pkmnChipColor($dark-color, $dark-comp-color, $dark-contrast-color);
    border: solid 1px white;
  }

  &--normal {
    @include pkmnChipColor(
      $normal-color,
      $normal-comp-color,
      $normal-contrast-color
    );
    border: solid 1px white;
  }

  &--status {
    @include attackClassChip(status);
  }

  &--special {
    @include attackClassChip(special);
  }

  &--physical {
    @include attackClassChip(physical);
  }
}
