.type-chip {
  display: inline;
  padding: 0.5rem 1rem;
  border-radius: $default-border-radius;

  &--fire {
    background-color: red;
  }

  &--poison{
    background-color:purple;
    color:#fff;
  }

  &--steel{
    background-color: $steel-color;
  }

  &--flying{
    background-color: $flying-color;
  }

&--water{
    background-color: $water-color;
}
    &--ice{
        background-color:$ice-color;
    }

    &--grass{
        background-color: $grass-color;
    }

    &--bug{
        background-color: $bug-color;
    }

    &--electric{
        background-color: $electric-color;
    }

    &--rock{
        background-color: $rock-color;
    }

    &--earth{
        background-color: $earth-color;
    }

    &--fire{
        background-color: $fire-color;
    }

    &--fighting{
        background-color: $fighting-color;
    }

    &--psychic{
        background-color: $psychic-color;
    }

    &--posicon{
        background-color: $poison-color;
    }

    &--dragon{
        background-color: $dragon-color;
    }

    &--phantom{
        background-color: $phantom-color;
    }

    &--sinister{
        background-color: $sinister-color;
    }

    &--normal{
        background-color: $normal-color;
    }
}
